body {
    background-color: #404774;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #e1dbdb;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    background-color: #404774;
    border-radius: 10px;
    margin: 50px auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 60px;
    background-color: #222;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.4);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #2b3156;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.button-container button {
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
}

.calculation-block {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap:0;
}

.num-pad {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.num-pad button {
    width: calc(100% / 3);
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
}

.operator-pad {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.operator-pad button {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
}

.function-row {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#clear {
    width: 50%;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
}

#delete {
    width: 50%;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
}